body {
  background-color: #f8f9fa;
}

h1 {
  color: #343a40;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.link-box {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #007bff; /* Bordure bleue */
  border-radius: 8px;
  transition: all 0.3s ease;
  color: #007bff;
  text-transform: uppercase;
  font-weight: bold;
}

.link-box:hover {
  background-color: #007bff;
  color: white;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
  position: relative;
}

.navbar .container {
  display: flex;
  justify-content: center; /* Centre la barre de navigation */
  align-items: center;
}

.d-flex {
  width: 100%; /* Assure que la barre occupe toute la largeur */
}

.d-flex .nav-link {
  margin-right: 30px; /* Augmenter la marge pour plus d'espace entre les liens */
}

.d-flex .nav-link:last-child {
  margin-right: 0; /* Pas de marge à droite du dernier lien */
}

/* Applique des styles de base aux cartes de potins */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  transition: all 0.3s ease; /* Permet une transition douce */
  cursor: pointer; /* Change le curseur pour montrer que c'est cliquable */
}

/* Effet au survol : ombre et légère transformation */
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée */
  transform: scale(1.05); /* Légère augmentation de la taille */
  background-color: #f8f9fa; /* Change la couleur de fond au survol */
}

/* Ajouter une légère animation sur les liens au survol */
.card a:hover {
  color: #007bff; /* Change la couleur du lien au survol */
  text-decoration: underline; /* Ajoute une sous-ligne sur les liens au survol */
}
